<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matriculados curso</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<html lang="en">

<body>
    <h2 style="margin-top: 30px; text-align: center;">Estudantes matriculados no curso {{curso.nome}}</h2>

    <div class="container">
        <div>
            <table class="table table-striped">
                <tr>
                    <th scope="col" style="width: 370px">Nome</th>
                    <th scope="col" style="width: 370px">Sobrenome</th>
                    <th scope="col" style="width: 370px">email</th>
                    <th scope="col" style="width: 370px">Idade</th>
                    <th scope="col" style="width: 370px">Data matrícula</th>
                    <th scope="col" style="width: 450px"></th>
                </tr>
                {% for estudante in estudantes %}
                <tr>
                    <td>{{estudante.nome}}</td>
                    <td>{{estudante.sobrenome}}</td>
                    <td>{{estudante.email}}</td>
                    <td>{{estudante.idade}}</td>
                    <td>{{estudante.updated_at.strftime('%d/%m/%Y')}}</td>
                    <td>
                        <a class="btn btn-danger atam" style="width: 180px;"
                            href="/cancelar_matricula/{{curso.id}}//{{estudante.id}}">Cancelar matrícula</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="box_botoes_curso">
            <form action="/incluir_estudante_curso/{{curso.id}}" style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary atam" style="width: 220px;">Matricular novo
                    estudante</button>
            </form>
            <div class="box_botoes">
                <a class="btn btn-secondary atam" style="width: 220px;" href="/">Retornar para
                    cursos</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/mi_script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
</body>

</html>