<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Testes OpenAI</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/noticias">Notícias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/traducoes">Traduções</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/extracoes">Extração fatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/sesgo">Sesgo Fatos descritoe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/sesgo_narrativa">Sesgo Narrativa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/avaliacao">Avaliar tipo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/fechar_sessao">Fechar sessão</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
